<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="~/manifest.json" />

    @* Change this meta-data *@
    <title>@ViewData["Title"] - CQRS MediatR Template</title>
    <meta name="description" content="Template ASP.NET Core application using CQRS and MediatR with React frontend" />

    <link rel="apple-touch-icon" href="logo192.png" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="~/bundles/css/app.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="@Url.Action("GetResourcesScript", "StringResource")"></script>
</head>
<body>
    @RenderBody()

    @* Routes used for frontend *@
    <script>
        var defaults = {
            projectName: 'CQRS MediatR Template',
            jsonRoutes: {
                // Home
                home: '@Url.Action("Index", "Home")',
                refreshToken: '@Url.Action("RefreshToken", "Home")',

                // Account
                login: '@Url.Action("Login", "Account")',
                forgotPassword: '@Url.Action("ForgotPassword", "Account")',
                logout: '@Url.Action("Logout", "Account")',
                loginWith2fa: '@Url.Action("LoginWith2fa", "Account")',
                resetPassword: '@Url.Action("ResetPassword", "Account")',
                confirmEmail: '@Url.Action("ConfirmEmail", "Account")',
                signUp: '@Url.Action("SignUp", "Account")',        
                getProfile: '@Url.Action("GetProfile", "Account")',
                editProfile: '@Url.Action("EditProfile", "Account")',

                // Log entry
                getlogentries: '@Url.Action("GetLogEntries", "LogEntry")',

                // StringResources                 
                getResources: '@Url.Action("GetResources","StringResource")',
                addMissingStringResource: '@Url.Action("AddMissingKey","StringResource")',
            },
        };
    </script>


    @RenderSection("Scripts", required: false)
    <script src="~/bundles/app.js" asp-append-version="true"></script>
</body>
</html>
